<div class="display-panel">
  <div class="panel-header">
    <div>
      <h2>{{ isRatesView() ? 'Interest Rates Evolution' : 'COT Positioning' }}</h2>
      <p class="subtitle">{{ isRatesView() ? 'Central bank rates over 12 months' : 'Institutionnals vs Retails net positions (52 weeks)' }}</p>
    </div>
  </div>

  <div class="asset-tabs">
    <button
      *ngFor="let a of assets"
      [class.active]="selectedAsset() === a"
      (click)="selectAsset(a)">
      {{ a }}
    </button>
    <button [class.active]="isRatesView()"
        (click)="selectRates()">RATES</button>
  </div>

  <div class="chart-wrap">
    <canvas baseChart
      style="height: 100%; width: 100%;"
      [data]="chartData"
      [type]="'line'"
      [options]="chartOptions">
    </canvas>
  </div>
</div>